<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)] = '_listFilter'>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"><h3>Filtered by: {{_listFilter}}</h3></div>
    </div>
    <div class="table-responsive">
      <table class="table" *ngIf="products && products.length">
        <thead>
          <tr>
            <th>
              <button class="btn btn-primary" (click)="toggleImg()"> {{showImage ? 'Hide' : 'Show'}} Image</button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 star rating</th>
          </tr>
          <tr *ngFor="let product of filteredProducts">
            <td><img [src]="product.imageUrl"
                     [title] = "product.name"
                     [style.width.px] = "imageWidth"
                     [style.margin.px] = "imageMargin"
                     *ngIf="showImage">
            </td>
            <td><i class="fas fa-link"></i> <a [routerLink]="['/products', product.id]">{{product.name}}</a></td>
            <td>{{product.code | lowercase | convertToSpaces : '-'}}</td>
            <td>{{product.releaseDate}}</td>
            <td>{{product.price | currency:'USD':true:'1.2-2'}}</td>
            <td><app-star [rating]="product.starRating"
                          (ratingClicked) ="onRatingClicked($event)"></app-star></td>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
    <div *ngIf="!products">
      <p>There are no products to show</p>
    </div>

  </div>
</div>
