<div class="row">
  <div class="col-md-offset-1 col-md-8">
    <h3 class="text-center"> Create new product here </h3>

    <form #form="ngForm" (submit)="postProdut(form)">
      <input #productId type="hidden" id="productId" [(ngModel)] = "product.id">
      <div class="form-group" [class.has-error]="productName.invalid && productName.touched">
        <label for="productNameId" class="control-label">Product Name</label>
        <input #productName="ngModel" id="productNameId" class="form-control" type="text" required placeholder="name" name="name" [(ngModel)] = "product.name">
        <div class="alert alert-danger" *ngIf="productName.invalid && productName.touched">Product Name is Required</div>
      </div>
      <div class="form-group">
        <label for="productCodeId">Product Code</label>
        <input #productCode id="productCodeId" class="form-control" type="text" placeholder="code" name="code" [(ngModel)] = "product.code">
      </div>
      <div class="form-group">
        <label for="productReleaseDateId">Product Available</label>
        <input #productAvailable id="productReleaseDateId" class="form-control" type="date" placeholder="release Date" name="releaseDate" [(ngModel)] = "product.releaseDate">
      </div>
      <div class="form-group">
        <label for="productDescriptionId" class="control-label">Product Description</label>
        <input #productDescription id="productDescriptionId" class="form-control" type="text" placeholder="description" name="description" [(ngModel)] = "product.description">
      </div>
      <div class="form-group">
        <label for="productPriceId">Product Price</label>
        <input #productPrice id="productPriceId" class="form-control" type="number" placeholder="price" name="price" [(ngModel)] = "product.price">
      </div>
      <div class="form-group">
        <label for="productRatingId">Product Rating</label>
        <select #productPrice id="productRatingId" class="form-control" [(ngModel)] = "product.starRating">
          <option value="default" >Select Rating</option>
          <option *ngFor="let number of [1,2,3,4,5]">{{number}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="productImgId">Img Url</label>
        <input #productImgUrl id="productImgId" class="form-control" type="text" placeholder="img Url" name="img Url" [(ngModel)]="product.imageUrl">
      </div>
      <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Submit</button>
    </form>
  </div>
