<nav>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['/welcome']" routerLinkActive="active">Home</a></li>
      <li><a [routerLink]="['/products']" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Product List</a></li>
      <li><a [routerLink]="['/products/new']" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">New Product</a></li>
      <li><a [routerLink]="['/user/login']" routerLinkActive="active">Login</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>

</div>


